<% commentable.comments.each do |comment| %>
  <div class="card comment-card pb-4">
    <div class="d-flex flex-row">
      <div class="col-1 p-0 d-flex justify-content-center">
        <!--vote form-->
        <div class="mb-3 mt-3">
          <% unless !user_signed_in? %>
            <%= content_tag :div, id: "comment-vote-form-#{comment.id}" do %>
              <%= render partial: "votes/form", locals: {votable: comment, vote: current_user.has_voted_on(comment)} %>
            <% end %>
          <% else %>
            <%= content_tag :div, id: "comment-vote-form-#{comment.id}" do %>
              <%= render partial: "votes/form", locals: {votable: comment, vote: Vote.new} %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-11 p-0">
        <!--commenter email-->
        <div class="">
          <%= content_tag :span, "#{comment.user.email}", class: "commenter" %>
        </div>
        <!--comment body-->
        <div class="">
          <div class="card-text">
            <%= raw(comment.body) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
