<% commentable.comments.each do |comment| %>
  <% @user = User.find(comment.user_id) %>
  <% commenter = @user.email %>
  
  <%= content_tag :div, :class => "row v-align" do %>
    <%= content_tag :div, :class => "col-md-1 vote-form-container text-center" do %>
      <% unless !user_signed_in? %>
        <%= content_tag :div, id: "comment-vote-form-#{comment.id}" do %>
          <%= render partial: "votes/form", locals: {votable: comment, vote: current_user.has_voted_on(comment)} %>
        <% end %>
      <% else %>
        <%= content_tag :div, id: "comment-vote-form-#{comment.id}" do %>
          <%= render partial: "votes/form", locals: {votable: comment, vote: Vote.new} %>
        <% end %>
      <% end %>
    <% end %>
    <%= content_tag :div, :class => "col-md-11 comment-container" do %>
        <%= content_tag :h4, "#{commenter}", :class => "commenter" %>
        <div class="well">
          <%= raw(comment.body) %>
        </div>
    <% end %>
  <% end %>
  
<% end %>