<div class="row">
  <div class="admin-nav">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
               Boozy Heights
              </a>
              <ul class="dropdown-menu multi-level" role="menu">
                <li><a href="/">Home</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-submenu">
                  <a tabindex="-1">New...</a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="/articles/new">Article</a></li>
                  </ul>
                </li>
                <li><a data-toggle="modal" data-target="#open-modal">Open...</a></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                <li><a href="/about">About</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
  </div>
</div>

<!--"Open" Modal-->
<div class="modal fade" id="open-modal" tabindex="-1" role="dialog" aria-labelledby="Open..." aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="open_modal_title">Open...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                
        <!--put nav tabs here-->
        
        <ul class="nav nav-pills">
          <li class="active"><a data-toggle="pill" href="#articles-tab">Articles</a></li>
          <li><a data-toggle="tab" href="#users-tab">Users</a></li>
        </ul>
        
        <!--put tab content here-->
        
        <div class="tab-content">
          <div id="articles-tab" class="tab-pane fade in active">
            <% get_all_articles %>
            <% article_count = @all_articles.count %>
            <div class="row">
              <%= content_tag :h5,"#{article_count} articles", class: "OpenSans" %>
              <form class="navbar-form navbar-right articles-search">
                <div class="form-group">
                  <input class="form-control" type="text" id="open-articles-search" onkeyup="searchArticlesByName()" placeholder="Search by title or id" title="Type in an article name">
                </div>
              </form>
            </div>
            <ul id="open-articles-list">
            <% @previous_month = nil %>
            <% @all_articles.each do |article| %>
              <% article_id = article.id %>
              <% @article_month = article.created_at.strftime("%B") %>
              <% if @previous_month == nil %>
                <% new_month = true %>
              <% elsif @previous_month == @article_month %>
                <% new_month = false %>
              <% else %>
                <% new_month = true %>
              <% end %>
              <%= content_tag :div, class: "row article-list-item" do %>
                <%= content_tag :span, "#{article_id}" %>
                <%= link_to article.title, article_path(article), class: "btn", :id => "#{article.id}" %>
                <%= render partial: "articles/admin_tools", locals: {admin_object: article} %>
              <% end %>
              <% @previous_month = article.created_at.strftime("%B") %>
            <% end %>
            </ul>
          </div>
          <div id="users-tab" class="tab-pane fade">
            <h3>Users</h3>
            <% get_all_users %>
            <% @all_users.each do |user| %>
              <%= content_tag :p, user.email %>
            <% end %>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<script>
function searchArticlesByName() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("open-articles-search");
  filter = input.value.toUpperCase();
  ul = document.getElementById("open-articles-list");
  li = ul.getElementsByTagName("div");
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    if (a.innerHTML.toUpperCase().indexOf(filter) > -1 || filter == a.id) {
        li[i].style.display = "";
    } else {
        li[i].style.display = "none";

    }
  }
}
</script>