<div class="d-flex">
  
  <%= content_tag :div, id: "article-vote-form-#{article.id}", class: "align-self-center float-left" do %>
    <% unless !user_signed_in? %>
      <%= render partial: "votes/form", locals: {votable: article, vote: current_user.has_voted_on(article)} %>
    <% else %>
      <%= render partial: "votes/form", locals: {votable: article, vote: Vote.new} %>
    <% end %>
  <% end %>


  <div class="mx-auto pr-3">
    <%= content_tag :h2, article.title , :class => "article-title-text text-center" %>
    <%= content_tag :h4, "by #{article.user.email}", :class => "article-author-text text-center" %>
  </div>
  
  <% if user_signed_in? && current_user.id == article.user_id %>
  <ul class="nav">
    <li class="nav-item"><%= link_to "Edit", edit_article_path(article), class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "Delete", article_path(article), class: "nav-link danger", :method => :delete, :confirm => "Are you sure you want to delete #{article.title}" %></li>
  </ul>
  <% end %>
  
</div>

<hr>

<div class="article-body">
  <%= raw(article.body) %>
</div>

<hr>

<%= render partial: "articles/comments/comments", locals: {commentable: article} %>

<div class="container">
  <%= form_for [article, Comment.new] do |f| %>
    <div class="col-md-6">
      <%= f.text_area :body, class: 'form-control', :id => 'text-area-comments' %>
      <%= f.submit 'Post', class: 'btn btn-default commit'%>
    </div>
  <% end %>
</div>