<!--<div class="row text-center">-->

<!--  <% unless article.id == 1 %>-->
<!--    <%= content_tag :h4, "by #{author.email}", :class => "article-author-text" %>-->
<!--    <%= content_tag :div, id: "article-vote-form-#{article.id}" do %>-->
<!--      <% unless !user_signed_in? %>-->
<!--        <%= render partial: "votes/form", locals: {votable: article, vote: current_user.has_voted_on(article)} %>-->
<!--      <% else %>-->
<!--        <%= render partial: "votes/form", locals: {votable: article, vote: Vote.new} %>-->
<!--      <% end %>-->
<!--    <% end %>-->
<!--  <% end %>-->
<!--</div>-->
<%= content_tag :h2, article.title , :class => "article-title-text" %>
<div class="row">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <%= raw(article.body) %>
    </div>
  </div>    
</div>


<!--<div>-->
<!-- <%= render partial: "articles/comments/comments", locals: {commentable: article} %>-->
<!--</div>-->

<!--<div class="row comment-form-container">-->
<!--  <div class="col-md-offset-3 col-md-6">-->
<!--    <%= form_for [article, Comment.new] do |f| %>-->
<!--      <div class='form-group'>-->
<!--        <%= f.text_area :body, class: 'form-control', :id => 'text-area-comments' %>-->
<!--        <%= f.submit 'Post', class: 'btn btn-success commit'%>-->
<!--      </div>-->
<!--    <% end %>-->
<!--  </div>-->
<!--</div>-->


<script type="text/javascript">
  CKEDITOR.replace('text-area-comments', { toolbar: 'comment' });
</script>