<div class="article-header d-flex pb-0">
  
  <%= content_tag :div, id: "article-vote-form-#{article.id}", class: "pt-2 vote-form" do %>
    <% unless !user_signed_in? %>
      <%= render partial: "votes/form", locals: {votable: article, vote: current_user.has_voted_on(article)} %>
    <% else %>
      <%= render partial: "votes/form", locals: {votable: article, vote: Vote.new} %>
    <% end %>
  <% end %>


  <div class="pl-3">
    <%= content_tag :p, article.title , :class => "mb-0 pb-0 article-title-text" %>
    <%= content_tag :p, "by #{article.user.name}", :class => "pl-1 m-0 article-author-text" %>
  </div>
  
  <div class="ml-auto">
    <% if user_signed_in? && current_user.id == article.user_id %>
      <ul class="nav">
        <li class="nav-item"><%= link_to "Edit", edit_article_path(article), class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Delete", article_path(article), class: "nav-link danger", :method => :delete, :confirm => "Are you sure you want to delete #{article.title}" %></li>
      </ul>
    <% end %>
  </div>
  
</div>

<hr>

<div class="article-body">
  <%= raw(article.body) %>
</div>

<hr>

<div class="article-footer">
  <%= content_tag :div, class: "view-comments-link-#{article.id}" do %>
    <%= render partial: "articles/comments_links", locals: {article: article} %>
  <% end %>
  
  <%= content_tag :div, class: "comments-container-#{article.id}" do %>
  <% end %>
  
  <%= content_tag :div, class: "comment-form-#{article.id}" do %>
    <%= render partial: "articles/comments/form", locals: {commentable: article} %>
  <% end %>
</div>