<div class="container-fluid">
  <%= form_for :article, url: articles_path do |f| %>
    <div class="row">
      <!--tab content-->
      <div class="col-md-10" style="padding: 0;">
        <div class="well well-lg">
          <div class="tab-content">
            <!--Page 1-->
            <div id="home" class="tab-pane fade in active"> 
              <div class="row">
                <div class="col-md-6" style="padding: 0;">
                  <h3 class="text-right">Article</h3>
                </div>
                <div class="col-md-6">
                  <h4 style="margin-top: 22px;">
                    <i id="info-button" class="fa fa-question-circle" data-toggle="modal" data-target="#article-info"></i>
                  </h4>
                </div>
              </div>
              <!--Title field-->
              <div class="form-group">
                <%= f.text_field :title, class: 'form-control form-control-lg', :placeholder => "Title" %>
              </div>
              <!--CKEDITOR-->
              <div class="form-group">
                <%= f.text_area :text, :id => 'text-area-article' %>
              </div>
            </div>
            <!--End of page 1-->
            
            <!--Page 2 -->
            <div id="page2" class="tab-pane fade">
              <div class="row">
                <div class="col-md-6" style="padding: 0;">
                  <h3 class="text-right">Thumbnail</h3>
                </div>
                <div class="col-md-6">
                  <h4 style="margin-top: 22px;">
                    <i id="info-button" class="fa fa-question-circle" data-toggle="modal" data-target="#thumbnail-info"></i>
                  </h4>
                </div>
              </div>
              <!--Image Browse-->
                  <span>Choose a thumbnail image:</span>
                  <%= f.file_field :thumbnail, id: 'imgInp', "data-filename-placement" => 'inside' %>
              <!--Thumbnail Editor-->
                <div class="thumbnail-wrapper" id="thumbnail-wrapper">
                  <h2 class="thumbnail-title-preview">Boozy Heights</h2>
                  <img class="container-fluid" id="thumbnail-image" src="#" alt="crop tool image here">
                </div>
              <!--Color Picker-->
              <div class="row text-center">
                <div class="col-md-offset-3 col-md-3">
                  <h3>Background Color</h3>
                </div>
                <div class="col-md-3">
                  <h3>Font Color</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-offset-3 col-md-3" id="colorpicker">
                   <%= f.text_field :average_color, class: 'form-control minicolors', id: "minicolors1" %>
                </div>
                <div class="col-md-3" id="font-colorpicker">
                   <%= f.text_field :font_color, class: 'form-control minicolors', id: "minicolors2" %>
                </div>
              </div>
            </div>
            <!--End of page 2-->

          </div> <!-- End of tab content -->
        </div>
      </div>
      <!--side-nav bar-->
      <div class="col-md-2" style="padding: 0;">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a data-toggle="pill" href="#home">Article</a></li>
          <li><a data-toggle="pill" href="#page2">Thumbnail</a></li>
          <hr style="border-color: darkgrey; margin-left: 6px; margin-right: 6px;" />
          <li class="text-center"><%= f.submit "Post", class:"btn btn-success" %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<!--article-info-modal-->
<div class="modal fade" id="article-info" tabindex="-1" role="dialog" aria-labelledby="Article Info" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="article_modal_title">How to post an Article:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Enter the article title</li>
          <li>Use the text editor to create the body of the article.</li>
        </ul>
        <p>Note: It is reccomended to make the text editor fullscreen using the 'maximize' button on the top left.</p>
      </div>
      <!--<div class="modal-footer">-->
      <!--  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
      <!--</div>-->
    </div>
  </div>
</div>

<!--thumbnail-info-modal-->
<div class="modal fade" id="thumbnail-info" tabindex="-1" role="dialog" aria-labelledby="Thumbnail Info" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="article_modal_title">How to configure the thumbnail:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Upload image.</li>
          <li>Choose colors.</li>
        </ul>
      </div>
      <!--<div class="modal-footer">-->
      <!--  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
      <!--</div>-->
    </div>
  </div>
</div>