<%= form_for @article do |f| %> <!--New Article Form-->
  <div class="container d-flex justify-content-center">
    <div class="col-md-10">
      <div class="tab-content" id="v-pills-tabContent">
        
          <div class="tab-pane fade show active" id="v-pills-article" role="tabpanel" aria-labelledby="v-pills-article-tab">
            <!--Title field-->
            <%= f.text_field :title, :class => "title-area-article", :placeholder => "Title" %>
        
            <!--WYSIWYG editor-->
            <%= f.text_area :body, id:"text-area-article"%>
          </div>
          
          <div class="tab-pane fade" id="v-pills-icon" role="tabpanel" aria-labelledby="v-pills-icon-tab">
            <!--Icon field-->
            <%= f.file_field :icon %>
          </div>
        
      </div>
    </div>
    
    <div class="col-md-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-article-tab" data-toggle="pill" href="#v-pills-article" role="tab" aria-controls="v-pills-article" aria-selected="true">Article</a>
        <a class="nav-link" id="v-pills-icon-tab" data-toggle="pill" href="#v-pills-icon" role="tab" aria-controls="v-pills-icon" aria-selected="false">Icon</a>
        <!--Submit button-->
        <%= f.submit "Submit" %>
      </div>
    </div>
  </div>
<% end %> <!--End of form-->

<script type="text/javascript">
  
  CKEDITOR.replace('text-area-article', { toolbar: 'article' });
  
</script>