<% index %>

<div class="container-fluid">
  <% @article.reverse.each do |article| %>
    <% if @counter == 0%>
      <% size = 6 %>
      <%= content_tag :div, :class => "row" do %>
        <%= render partial: "thumbnail", locals: {artifice: article, size: size} %>
        <% article = @article[article.id - 2] %>
        <%= render partial: "thumbnail", locals: {artifice: article, size: size} %>
      <% end %>
        <% @counter += 1 %>
      <% elsif @counter == 1 %>
        <% @counter += 1 %>
      <% elsif @counter == 2 %>
        <% size = 12 %>
        <%= content_tag :div, :class => "row" do %>
          <%= render partial: "thumbnail", locals: {artifice: article, size: size} %>
        <% end %>
        <% @counter = 0 %>
    <% end %>
  <% end %>
</div>