<h1 class="text-center">Create a new blog post</h1>

<div class="well well-lg">
  <%= form_for :article, url: articles_path do |f| %>
  
<!--Title field-->
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
          <h3 class="text-center">Title</h3>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
      </div>
    </div>
    </br>
    
<!--Image Browse-->
    <div class="row text-center">
      <div class="col-md-offset-3 col-md-6" id="image-uploader">
        <div class="form-group">
            <span>Choose a thumbnail image:</span>
            <%= f.file_field :thumbnail, id: 'imgInp', "data-filename-placement" => 'inside' %>
        </div>
      </div>
    </div>
    
<!--Image Preview-->
    <div class="row">
      <div class="col-md-offset-3 col-md-6" id="thumbnail-wrapper" >
        <img class="container-fluid" id="thumbnail-edit" src="#" alt="crop tool image here">
        <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
         <%= f.text_field attribute, :id => attribute, :type => 'hidden' %>
        <% end %>
      </div>
    </div>
    </br>
    
<!--Color Picker-->
    <div class="row">
      <div class="col-md-offset-4 col-md-4" id="colorpicker">
         <%= f.text_field :average_color, class: 'form-control minicolors', id: "minicolors" %>
      </div>
    </div>
    
<!--CKEDITOR-->
    <div class="row text-center">
      <div class="col-md-10 col-md-offset-1">
        <div class="form-group">
          <h3>Body</h3>
          <%= f.cktext_area :text %>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 col-md-offset-4">
        <%= f.submit 'Post', class: 'btn btn-success', id: 'post' %>
      </div>
    </div>
  <% end %>
</div>
