<% @numComments = @article.comments.count %>

<% article_title = @article.title %>
<div class="row">
  <div class="container text-center">
    <div class="col-md-offset-3 col-md-6">
      <%= content_tag :h2, "#{article_title}" , :class => "article-title-text" %>
    </div>
  </div>
</div>
 
<div class="row">
  <div class="container article-container">
   <%= raw(@article.text) %>
  </div>
</div>
<div class="row">
  <div class="container comment-container">  

    <h2>Comments</h2>
    
    <% if @numComments == 0 %>
      <%= content_tag :h4, "There doesn't seem to be anything here", :class => "no-comments-text" %>
    <% else %>
      <% @article.comments.each do |comment| %>
        <p>
          <strong>Commenter:</strong>
          <%= comment.commenter %>
        </p>
        <p>
          <strong>Comment:</strong>
          <%= comment.body %>
        </p>
      <% end %>
    <% end %>

    <h2>Add a comment</h2>
    <%= form_for([@article, @article.comments.build]) do |f| %>
      <p>
        <%= f.label :commenter %><br>
        <%= f.text_field :commenter %>
      </p>
      
      <p>
        <%= f.label :body %><br>
        <%= f.text_field :body %>
      </p>
      
      <p>
        <%= f.submit %>
      </p>
    <% end %>
  </div>
</div>
