<% @numComments = @article.comments.count %>

<% article_title = @article.title %>
<div class="row">
  <div class="container text-center">
    <div class="col-md-offset-3 col-md-6">
      <%= content_tag :h2, "#{article_title}" , :class => "article-title-text" %>
    </div>
  </div>
</div>
 
<div class="row">
  <div class="container article-container">
   <%= raw(@article.text) %>
  </div>
</div>
<div class="row">
  <div class="container comment-container">  

    <h2>Comments</h2>
    
    <% if @numComments == 0 %>
      <%= content_tag :h4, "There doesn't seem to be anything here.", :class => "no-comments-text" %>
    <% else %>
      <% @article.comments.each do |comment| %>
        <% commenter = "Ben" %>
        <%= content_tag :div, :class => "row" do %>
          <%= content_tag :div, :class => "col-md-offset-1 col-md-10" do %>
            <%= content_tag :h4, "#{commenter}", :class => "commenter" %>
            </br>
            <%= raw(comment.body) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    </br>
    </br>
    <div class='col-md-offset-2 col-md-8'>
      <div class='well'>
        <h4>Add a comment</h4>
        <%= form_for([@article, @article.comments.build]) do |f| %>
          <div class='form-group'>
            <% if user_signed_in? %>
              <% user_id = current_user.id %>
              <% hidden_field_tag :user_id, "#{user_id}" %>
            <% end %>
            <%= f.cktext_area :body, class: 'form-control new-comment-area' %>
          </div>
          
          <div>
            <%= f.submit 'Post', class: 'btn btn-success commit'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
