<div class="container-fluid">
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#article-settings">Articles</a></li>
      <li><a data-toggle="tab" href="#user-settings">Users</a></li>
    </ul>
    <div class="tab-content">
      <div id="article-settings" class="tab-pane fade in active">
        <% get_all_articles %>
        <div class="container">
          <%= content_tag :h5,"#{@all_articles.count} article(s)", :style => "display: inline-block;" %>
          <form class="navbar-form navbar-right articles-search">
            <div class="form-group">
              <input class="form-control" type="text" id="open-articles-search" onkeyup="searchArticlesByName()" placeholder="Search by title or id #">
            </div>
          </form>
        </div>
        <div class="container">
          <ul id="open-articles-list">
          <% @all_articles.each do |article| %>
            <% article_id = article.id %>
            <%= content_tag :div, class: "row article-list-item" do %>
              <%= content_tag :span, "#{article_id}", class: "article-id" %>
              <%= link_to article.title, article_path(article), class: "article-link",:id => "#{article.id}" %>
              <%= render partial: "articles/admin_tools", locals: {admin_object: article} %>
            <% end %>
            <% @previous_month = article.created_at.strftime("%B") %>
          <% end %>
          </ul>
        </div> 
      </div>
      <div id="user-settings" class="tab-pane fade">
        User Settings
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
function searchArticlesByName() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("open-articles-search");
  filter = input.value.toUpperCase();
  ul = document.getElementById("open-articles-list");
  li = ul.getElementsByTagName("div");
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    if (a.innerHTML.toUpperCase().indexOf(filter) > -1 || filter == a.id) {
        li[i].style.display = "";
    } else {
        li[i].style.display = "none";

    }
  }
}
</script>