<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>Boozy Heights</title>
    <%= csrf_meta_tags %>
    
    <!--Google Fonts:-->
    
      <!--Barrio-->
    <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
    
      <!--Josefin Sans-->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700" rel="stylesheet">
    
      <!--Raleway-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800" rel="stylesheet">
    
    <script src="javascripts/jquery.minicolors.js"></script>
    <link rel="stylesheet" href="stylesheets/jquery.minicolors.css" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <nav class="navbar navbar-static">
    <div class="container-fluid">
      <div class="row">
        <h1 class="text-center">Boozy Heights</h1>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= link_to "Read", root_path, class: (action_name == 'index' ? 'navbar-text navbar-link navbar-link-active' : 'navbar-text navbar-link') %>
        </div>
        <div class="col-md-2 col-md-offset-8">
          <%= link_to "New Posts", new_article_path, class: (action_name == 'new' ? 'navbar-text navbar-link navbar-right navbar-link-active' : 'navbar-text navbar-link navbar-right') %>
          <%= link_to "About", about_path, class: (action_name == 'about' ? 'navbar-text navbar-link navbar-right navbar-link-active' : 'navbar-text navbar-link navbar-right') %>
        </div>
      </div>
      <div class="row">
        <h3 class="text-center">"What else can change your ideas...like whisky?"</h3>
      </div>
    </div>
  </nav>
    
  <div class="container-fluid", id="body">
    <%= yield %>
  </div>
</html>
