<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>devaent1316</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Google Fonts:-->
    <link href="https://fonts.googleapis.com/css?family=Cutive" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500" rel="stylesheet">
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <div>
      <!--Flash Messages-->
      <div class="container-fluid" id='flash-container'> 
        <% flash.each do |key, value| %>
          <div class="d-flex justify-content-center">
            <% if value.class == Array %>
              <div class="<%= flash_class(key) %>">
                <% value.each do |message| %>  
                  <%= message %>
                  </br>
                <% end %>
              </div>
            <% else %>
              <div class="<%= flash_class(key) %>">
                <%= value %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      
      <!--Navbar-->
      <header class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark flex-row" id="navbar-container">
        <a class="navbar-brand" href="/">devaent1316</a>
        <ul class="navbar-nav ml-sm-auto mr-sm-4 ml-md-2 mr-md-auto">
          <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
        </ul>
      </header>
      
      <!--Yield-->
      <div class="container-fluid" id='yield-container'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
