<!DOCTYPE html>
<html>
  <head>
    <meta id='csrf'>
      <%= csrf_meta_tags %>
    </meta>
    <%= render partial: 'layouts/head' %>
    <script type="text/javascript">
      window._mfq = window._mfq || [];
      (function() {
          var mf = document.createElement("script");
          mf.type = "text/javascript"; mf.async = true;
          mf.src = "//cdn.mouseflow.com/projects/f2ee8662-15da-45c1-9094-85c891c07c02.js";
          document.getElementsByTagName("head")[0].appendChild(mf);
      })();
    </script>
  </head>
    
  <div class="modal fade"id="signup-modal">
  </div>
    
  <body>
    <!--Flash Messages-->
    <div class="container-fluid" id='flash-container'> 
      <%= render partial: 'layouts/flash' %>
    </div>
    
    <!--Navbar-->
    <header class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark flex-row">
      <div class="container">
        <a class="navbar-brand" href="/"><i class="fa fa-gem"></i> blog</a>
        <ul class="navbar-nav ml-sm-auto mr-sm-4 ml-md-2 mr-md-auto" id="nav-article-links">
          <%= render partial: 'layouts/article_links' %>
        </ul>
        <ul class="navbar-nav" id="nav-user-links">
          <%= render partial: 'layouts/user_links' %>
        </ul>
      </div>
    </header>
    
    <!--Yield-->
    <div class="container-fluid" id='yield-container'>
      <%= yield %>
    </div>
  </body>
</html>
