<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>Boozy Heights</title>
    <%= csrf_meta_tags %>
    
    <!--Google Fonts:-->
    
      <!--Barrio-->
    <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
    
      <!--Josefin Sans-->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700" rel="stylesheet">
    
      <!--Raleway-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800" rel="stylesheet">
    
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <nav class="navbar navbar-static">
    <div class="container-fluid">
      <div class="row">
        <h1 class="text-center josefin">Boozy Heights</h1>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= nav_link "Read", root_path, false %>
        </div>
        <div class="col-md-offset-8">
          <%= nav_link "Sign in", new_user_session_path, true %>
          <%= nav_link "New Posts", new_article_path, true %>
          <%= nav_link "About", about_path, class: true %>
        </div>
      </div>
      <div class="row">
        <h3 class="text-center">"What else can change your ideas...like whisky?"</h3>
      </div>
    </div>
  </nav>
  
  <div class="container flash-container">
  <% flash.each do |key, value| %>
    <% if value.class == Array %>
      <div class="<%= flash_class(key) %>">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <% value.each do |message| %>  
          <%= message %>
          </br>
        <% end %>
      </div>
    <% else %>
      <div class="<%= flash_class(key) %>">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= value %>
      </div>
    <% end %>
  <% end %>
  </div>
  
  <div class="container-fluid turbo-body">
    <%= yield %>
  </div>
</html>
