<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>Boozy Heights</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--Google Fonts:-->
    <link href="https://fonts.googleapis.com/css?family=Cutive" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500" rel="stylesheet">
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    
  <div class="modal fade" id="signup-modal"></div>
    
  <body>
    <!--Flash Messages-->
    <div class="container-fluid" id='flash-container'> 
      <%= render partial: 'layouts/flash' %>
    </div>
    
    <!--Navbar-->
    <header class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark flex-row">
      <div class="container">
        <a class="navbar-brand" href="/">Boozy Heights</a>
        <ul class="navbar-nav ml-sm-auto mr-sm-4 ml-md-2 mr-md-auto" id="nav-article-links">
          <%= render partial: 'layouts/article_links' %>
        </ul>
        <ul class="navbar-nav" id="nav-user-links">
          <%= render partial: 'layouts/user_links' %>
        </ul>
      </div>
    </header>
    
    <!--Yield-->
    <div class="d-flex" id='yield-container'>
      <%= yield %>
    </div>
  </body>
</html>
