<!DOCTYPE html>
<html>
  <head>
    <meta id='csrf'>
      <%= csrf_meta_tags %>
    </meta>
    <%= render partial: 'layouts/head' %>
  </head>
    
  <div class="modal fade"id="signup-modal">
  </div>
    
  <body>
    <!--Flash Messages-->
    <div class="container-fluid" id='flash-container'> 
      <%= render partial: 'layouts/flash' %>
    </div>
    
    <!--Navbar-->
    <header class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark flex-row">
      <div class="container">
        <a class="navbar-brand" href="/"><i class="fa fa-gem"></i> blog</a>
        <ul class="navbar-nav ml-sm-auto mr-sm-4 ml-md-2 mr-md-auto" id="nav-article-links">
          <%= render partial: 'layouts/article_links' %>
        </ul>
        <ul class="navbar-nav" id="nav-user-links">
          <%= render partial: 'layouts/user_links' %>
        </ul>
      </div>
    </header>
    
    <!--Yield-->
    <div class="container-fluid" id='yield-container'>
      <%= yield %>
    </div>
  </body>
</html>
