<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>devaent1316</title>
    <%= csrf_meta_tags %>
    
    <!--Google Fonts:-->
    <link href="https://fonts.googleapis.com/css?family=Cutive" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500" rel="stylesheet">
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <div>
      <!--Flash Messages-->
      <div class="container" id='flash-container'> 
        <% flash.each do |key, value| %>
          <div class="col-md-offset-3 col-md-6 text-center">
            <% if value.class == Array %>
              <div class="<%= flash_class(key) %>">
                <% value.each do |message| %>  
                  <%= message %>
                  </br>
                <% end %>
              </div>
            <% else %>
              <div class="<%= flash_class(key) %>">
                <%= value %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      
<!--<li><%= link_to "About", article_path(1) %></li>-->
<!--<li><%= link_to "Settings", settings_path %></li>-->
<!--<li><%= link_to "Create Account", new_user_registration_path %></li>-->
<!--<li><%= link_to "Sign In", new_user_session_path %></li>-->
<!--<li><%= link_to "Create Post", new_article_path %></li>-->
<!--<li><%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %> </li>-->
      
      <!--Yield-->
      <div class="container-fluid" id='yield-container'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
